.grid-container {
    display: grid;
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    gap: 4px;
    grid-template-areas: 'header header header header header header' 
    'main-content main-content main-content main-content main-content main-content'
    'physical-art physical-art physical-art physical-art physical-art physical-art'
    'digital-art digital-art digital-art digital-art digital-art digital-art'
    'fashion art fashion art fashion art fashion art fashion art fashion art';
    grid-template-rows: 100px 500px 600px 600px 600px;
}
.header{
    /*background-color: rgba(255, 255, 255, 0.7); */
    display: flex;
    flex-direction: row;    
}
.main-content{
    background-image: url('image of art-gallery project/IMG_8419.JPG');
    background-position-x: center;
    background-position-y: center;
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    margin: auto;
    width: 90%;
    height: 90%;
    padding-top: 10px;
    
    

    
    
}
.physical-art {
    margin: 5px;
    text-align: center;
    font-size: 25px;
    
}
.digital-art{
    margin: 5px;
    text-align: center;
    font-size: 25px;

}
.fashion-art {
    margin: 5px;
    text-align: center;
    font-size: 25px;
}

.title{
    
    display: inline;
    margin-left: 55px;
    font-size: 45px;
}
ul{
    margin-left: 300px;
    margin-top: 40px;
    font-size: 20px;
    padding-right: 80px;
    
}
li {
    display: inline;
    width: 2px;
    margin-right: 10px;
    padding: 5px;
    
}
.saifulhassan{
    text-align: center;
    padding-top: 10px;
    font-size: 80px;
    padding-bottom: 70px;
}
p {
    font-size: 35px;
    padding-top: 30px;
}
.images{
    height: 400px;
    
        
}
img {
    width: 300px;
    height: 300px;
    

     

}